{% extends "base.html" %}
<title>
{% block title %} Cocina {% endblock %}
</title>


{% block contenido %} 
{% load static %} 

<div class="container mt-5" style="background-color: rgba(255, 255, 255, 0.616);">
    <div class="row row-cols-1 mt-8">
        <div class="encabezado" style="background-color: rgb(71, 125, 150);">
          <h4>Mesa<a href="cocinero-comandas-todas.html"><button type="button" class="btn btn-dark" style="background-color:red; position: absolute;">X</button></a> </h4>
        </div> 
        <div class="row gx-5">
            <div class="col notepad">
            <form action="cocinero-comandas-todas.html" id="blocdepedidos" method="POST">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td>Mesa</td>
                        <td>Item</td>
                        <td>Obervaciones</td>
                        <td>cantidad</td>
                        <td>estado de la orden</td>
                        <td>De click si la orden esta lista</td>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- preguntar si se tiene item en mesa 1
                        
                        y crear ciclo for para traer los items
                      
                    -->
                    <tr>
                        <td>{{.Mesa}}</td> 
                        <td>{{.item}}</td>
                        <td>{{.obervaciones}}</td>
                        <td>{{.cantidad}}</td>
                        <!-- preguntar si se tiene item en mesa 1
                        
                        
                    -->
                        <td>{{.statuspedido}}</td>
                        
                        <td><div class="col">
                            <div class="card border-none mb-3" style="background-color: rgba(84, 175, 163, 0.89); text-align: center;" "min-width: 9rem;"> 
                                <a href="cocinero-comandas-list.html">
                                <button type="button" class="btn btn-status">ORDEN LISTA</button>
                            </div>
                        </div></td>
                    </tr>
                    <!-- cerrar el for
                        
                       
                    -->
                    <h1>No hay pedido en las mesas</h1>
                        </div>
                        </div>
                    </div>
                    <!-- cerrar el for
                        
                        
                    -->
                    </tbody>
                </table>
                
            </form>
            </div> 
        </div>         
    </div>
</div>
{% endblock %}