{% extends "base.html" %}
<meta {% block meta1 %} http-equiv="refresh" content="10" {% endblock %} >
<title>
{% block title %} Cocina {% endblock %}
</title>


{% block contenido %} 
{% load static %} 

<div id="todo">
  <div class="container2 mt-3">
    
    <div class="row row-cols-1 mt-3 row-cols-md-3 g-3">
      {% for orden in idorden %}
        <!-- Inicio tarjeta orden-->
        <div class="col">       
          <div class="card border-none mb-3" style="max-width: 20rem; min-width: 15rem;"> 
            <div class="card-header" id="">
              {{orden.mesa}} <br>
             
            </div>
            
            {% for plato in ordenmesa %}
            {%if orden.mesa == plato.mesa %} 
              <div class="card_content">
                <div class="renglon row">              
                  <ul class="list-unstyled">
              
                    <li> 
                      <div class="row renglon2"> 
                        <div class="col">{{plato.item}}</div>
                        <div class="col-auto">{{plato.cantidad}}</div>
                      </div>
                      <ul>
                        {%if plato.observacion%}
                        <li class="obsorden renglon2">
                          {{plato.observacion}}
                        </li> 
                        {%endif%}               
                      </ul>
                    </li>             
                  </ul>
                </div>
              </div>
            {%endif%} 
            {%endfor%}
            
            <div class="card-footer border-white">            
              <div class="iconfooter2">
                <a href="{% url 'vaciar' orden.id %}"><button type="button" class="btn expandir btn-primary">Orden Lista</button></a>
              </div>
            </div>               
          </div>
        </div>
      {% endfor %}  
    </div>
</div>
{% endblock %}