{% extends "base.html" %}
<title>
{% block title %} Lista de Comandas {% endblock %}
</title>


{% block contenido %} 
{% load static %} 

<div id="todo">
  <div class="container2 mt-3">
    
    <div class="row row-cols-1 mt-3 row-cols-md-3 g-3">
      {% for order in orden %}
        <!-- Inicio tarjeta orden-->
        <div class="col">       
          <div class="card border-none mb-3" style="max-width: 20rem; min-width: 15rem;"> 
            <div class="card-header" id="{{order.mesa}}">
              {{order.mesa}} <br>
              {{order.date}}
            </div>
            
            {% for item in ordenplato %}
            {%if order.mesa == item.mesa %} 
              <div class="card_content">
                <div class="renglon row">              
                  <ul class="list-unstyled">
              
                    <li> 
                      <div class="row renglon2"> 
                        <div class="col">{{item.plato}}</div>
                        <div class="col-auto">{{item.cantidad}}</div>
                      </div>
                      <ul>
                        {%if item.observacion%}
                        <li class="obsorden renglon2">
                          {{item.observacion}}
                        </li> 
                        {%endif%}               
                      </ul>
                    </li>             
                  </ul>
                </div>
              </div>
            {%endif%} 
            {%endfor%}
            
            <div class="card-footer border-white">            
              <div class="iconfooter2">
                <a href=""><button type="button" class="btn expandir btn-primary">Orden Lista</button></a>
              </div>
            </div>               
          </div>
        </div>
      {% endfor %}  
    </div>
</div>
{% endblock %}