{% extends "base.html" %}
<title>
{% block title %} Menu {% endblock %}
</title>


{% block contenido %} 
{% load static %} 
<br><br><br><br><br><br>
<div class="tarjeta1">
    
    <div class="titulo table-title">
        <div  class="row">
            <div class="col-sm-8">
                <h3> BASE DE DATOS MENU </h3>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'crear-plato' %}">
                    <button type="submit" class="btn btn-primary">Agregar Plato</button>
                </a>
            </div>
        </div>
    </div>
    <table class="table1 table-borderless">
        <thead class="thead1">
        <tr class="tr1">
            <th class="th1 table-dark" >Nombre Plato</th>
            <th class="th2 table-dark" >Precio</th>
            <th class="th3 table-dark" >Tipo de Plato</th>
            <th class="th4 table-dark" >Acciones</th>
        </tr>
        </thead>
        
        <tbody  class="tbody1">
            {%for plato in platos%}
            <tr class="tr1">
                <td class="td1" title="{{ plato.descripcion }}">{{plato.nombre_plato}}</td>
                <td class="td2" >{{plato.precio}}</td>
                <td class="td3" >{{plato.tipo_plato}}</td>
                <td class="td4" >                        
                    <a href="{% url 'editar' plato.id %}"> <img src={% static 'img/icono_lapiz.png' %} width="30" height="30" alt="Editar"></a>
                    |                        
                    <a href="{% url 'eliminar' plato.id %}"><img src={% static 'img/icono_borrar.png' %} width="30" height="30" alt="Editar"></a>
                </td>
            </tr>  
            {%endfor%}       
        </tbody>
        
    </table>    
    
</div>  

{% endblock %}
