{% extends "base.html" %}
<title>
{% block title %} Lista de Menu {% endblock %}
</title>


{% block contenido %} 
{% load static %} 
<br><br><br><br><br><br>
<div style=" min-width: 400px; max-width: 800px" class="tarjeta">
    <div class="titulo table-title">
            <div  class="row">
                <div class="col-sm-8"><h2> BASE DE DATOS MENU </h2></div>
                <div class="col-sm-4">
                    <a href="crear-plato.html">
                    <button type="submit" class="btn btn-primary">Agregar Plato</button>
                    </a>
                </div>
            </div>
        </div>
        <table class="cuerpo table table-bordered">
            <thead>
                <tr>                    
                    <th>Nombre Plato</th>
                    <th>Precio</th>
                    <th>Tipo de Plato</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for plato in platos%}
                <tr>
                    <td title="{{ plato.descripcion }}">{{plato.nombre_plato}}</td>
                    <td width="100">{{plato.precio}}</td>
                    <td width="150">{{plato.tipo_plato}}</td>
                    <td width="100" >                        
                        <a href="{% url 'editar' plato.id %}"> <img src={% static 'img/icono_lapiz.png' %} width="30" height="30" alt="Editar"></a>
                        |                        
                        <a href="{% url 'eliminar' plato.id %}"><img src={% static 'img/icono_borrar.png' %} width="30" height="30" alt="Editar"></a>
                    </td>
                </tr>  
                {%endfor%}    
            </tbody>
        </table>
    
</div>  

{% endblock %}
