{% extends "base.html"%}
{% include "mesero-mesas.html"%}

<title>
{% block title %} Orden {% endblock %}
</title>


{% block contenido %} 
{% load static %} 

  <div id="todo">
    <div class="container mt-5">
    
      <div class="ventana-mesa">
        <div class="encabezado">
          <form action="mesero-orden.html" id="blocdepedidos" method="POST">
          {% csrf_token%}
          <h4> <select name="" id="">
           
            <option disabled selected="true"  value="">... </option> 
            {% for mesa in mesas %}
            <option value=""> </option>
            {% endfor %}
          </select> <button type="button" class="btn btn-dark"></button></a> </h4>
          
        </div>      
        <div class="row gx-1">
        
          <div class="col notepad">
            
            <table class="table table-sm">
              <thead>        
                <tr>                  
                  <th scope="col">Item</th>
                  <th scope="col">Cant</th>
                  <th scope="col">Observaciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr id="renglon01">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value="{{plato.nombre_plato}}">{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon02">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon03">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon04">                
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon05">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon06">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon07">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon08">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon09">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon10">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon11">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon12">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon13">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon14">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon15">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon16">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon17">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon18">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon19">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon20">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon21">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon22">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon23">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon24">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon25">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon26">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon27">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon28">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon29">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon30">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon31">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>
                <tr id="renglon32">                  
                  <td><select name="item">
                    <option disabled selected="true"  value="">... </option>
                    <option disabled value="entrada"> <strong>ENTRADA</strong> </option>
                    {%for plato in entradas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="palto principal"><strong>PLATO PRINCIPAL</strong></option>
                    {%for plato in plato_principal%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="postre"><strong>POSTRE</strong></option>
                    {%for plato in postres%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="bebida"><strong>BEBIDA</strong></option>
                    {%for plato in bebidas%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}
                    
                    <option disabled value="OTRO"><strong>OTRO</strong></option>
                    {%for plato in otros%}
                    <option value={{plato.nombre_plato}}>{{plato.nombre_plato}}</option>
                    {%endfor%}

                  </select></td>
                  <td>x<input  type="number" style="width: 6ch;" name="cantidad" min="1" max="50" /></td>
                  <td><textarea  id="obse" name="obse" rows="1" cols="50"></textarea></td>
                </tr>             
              </tbody>
            </table>
          </form>
          </div>


        
          
          
          <br>
          <div>

          </div>
          <div>
            <button class="btn btn-primary" type="submit" form="blocdepedidos">Enviar Comanda</button>
          </div>
                    
    </div>
  </div>
    {% endblock %}
