{% extends "base.html" %}
<title>
{% block title %} Lista de Usuarios {% endblock %}
</title>


{% block contenido %} 
{% load static %} 

<div id="todo">
    <div class="container mt-5">
      <div class="row row-cols-3 mt-3 row-cols-md-5 g-3">

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">1</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">2</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">3</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">4</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">5</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">6</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">7</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">8</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">9</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">10</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">11</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">12</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">13</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">14</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>


        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">15</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

      </div>
    </div>
    </div>
{% endblock %}