{% extends "base.html"%}
{% include "mesero-mesas.html"%}

<title>
{% block title %} Orden {% endblock %}
</title>


{% block contenido %} 
{% load static %} 

  <div id="todo">
    <div class="container mt-5">
      {% load crispy_forms_tags %}
      <div class="ventana-mesa">
        <div class="encabezado">
          <form action="mesero-orden.html" id="blocdepedidos" method="POST">
          {% csrf_token%}
          {{formulariom.as_p}}
          {{ form | crispy }}
          </form>
          </div>
          <br>
          <div>

          </div>
          <div>
            <button class="btn btn-primary" type="submit" form="blocdepedidos">Enviar Comanda</button>
          </div>
                    
    </div>
  </div>
    {% endblock %}
