{% extends "Base.html" %}
<title>
{% block title %}  {% endblock %}
</title>



{% block contenido %} 

@login_required(login_url='/accounts/login/')

{% if request.user.usuario.Cargo == 'Mesero' %}
    <meta http-equiv="REFRESH" content="0;href=/../mesas">
    {% elif request.user.usuario.Cargo == 'Cocinero' %}
        <meta http-equiv="REFRESH" content="0;href=/../cocina">
    {% endelif}
{% endif %}

{% load static %} 
 

<div>
    <div>
        <img class="logomision" src={% static 'img/Logoppal.png' %} width="300px" alt="logo mision">
    </div>

    <div class="tarjeta mision"> 

        <div>
            <h1 style="color: white">MISIÓN</h1>
        </div>

        <div>
            <p>Tworden nace de la necesidad de facilitar la comunicación del mesero y la cocina en la toma de órdenes o pedidos en restaurantes o establecimientos de comidas. Como objetivo principal se busca facilitar la toma de pedidos, mejorar la comunicación de manera asertiva disminuyendo la posibilidad de errores o interpretaciones erróneas, acortando pasos innecesarios durante el proceso de atención al cliente y optimizando el tiempo de registro de órdenes y preparación de productos, agregando valor a la atención del cliente a través de la digitalización de comandas.</p>
        </div>            

        <div>
            <h4>¿Qué beneficios aporta la comanda digitalizada a tu restaurante?</h4>
        </div>
            
        <div>
            <p>Con la comanda digitalizada podrás alcanzar un nuevo nivel de orden, optimizando los procesos y brindando una mejor experiencia de usuario. Olvídate del bolígrafo y el papel, e implementa comandas electrónicas que te ayudarán a mejorar tu productividad.</p>
        </div>                    

        <div>
            <h4>Ventajas de usar Tworden</h4>
        </div>
            
        <div>
            <ul>
                <li>Mayor precisión y facilidad de modificaciones</li>
                <li> Reduce el tiempo de espera</li>    
                <li>Optimiza el tiempo</li>    
                <li>Más productividad</li>
            </ul>
        </div>       
            
        <div>
            <h4>Integrantes</h4>
        </div> 


        <div>
            <ul>
                <li>Juan Gabriel Olaya Herrera</li>
                <li>Carlos José Escudero Pérez</li>    
                <li>Leonardo Ramirez Grisales</li>    
                <li>Daniela Gil Varela</li>
            </ul>
        </div>    

    </div>

    <div style="height: 5vh;">

    </div>

</div>


{% endblock %}
