{% extends "base.html" %}
<title>
{% block title %} Lista de Usuarios {% endblock %}
</title>


{% block contenido %} 
{% load static %} 
<br><br><br><br><br><br>
<div class="container">    
   
    <div class="table-wrapper2 " style=" background: whitesmoke; width: Auto; height: 400px; overflow: scroll;" >
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2> BASE DE DATOS EMPLEADOS </h2></div>
                <div class="col-sm-4">
                    <a href="registro.html"
                    <button type="button" class="btn btn-info add-new"> <i class="fa fa-plus"></i> Agregar</button>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cargo</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.usuario.Cargo}}</td>
                    <td>{{user.usuario.Rol}}</td>
                    <td>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"><img src={% static 'img/icono_lapiz.png' %} width="18" height="18" class="edit-pencil" alt="edit"></i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"><i class="material-icons"><img src={% static 'img/icono_borrar.png' %} width="25" height="25" class="edit-pencil" alt="edit"></i></a>
                    </td>
                </tr>      
            </tbody>
        </table>
    </div>
</div>  

{% endblock %}
