{% extends "base.html" %}
<title>
{% block title %} Lista de Usuarios {% endblock %}
</title>


{% block contenido %} 
{% load static %} 
<br><br><br><br><br><br>
<div class="container">    
   
    <div class="table-wrapper2 " style=" background: whitesmoke; width: Auto; height: 400px; overflow: scroll;" >
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2> BASE DE DATOS EMPLEADOS </h2></div>
                <div class="col-sm-4">
                    <a href="registro.html"
                    <button type="button" class="btn btn-info add-new"> <i class="fa fa-plus"></i> Agregar</button>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cargo</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.Cargo}}</td>
                    <td>{{user.Rol}}</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>  

{% endblock %}
