

{% extends "base2.html" %}
<title>
{% block title %} LOGIN {% endblock %}
</title>



{% block contenido %} 

{% load static %} 
 <!--

<div class="body-admon">
    <div class="wrapper">
        <div class="sidebar">
            <div class ="perfil-admon">
                    
            </div>
            
               <li>{% if user.is_authenticated %}</li>
                <li><a href="{% url 'logout' %}">cerrar sesión</a> </li>
                <li><a href="#"> @ {{user.username}} </a></li>
                <li>{% else %}</li>
                <li><a href="{% url 'login' %}">iniciar sesión</a></li>
                <li>{% endif %}</li>-->
<!--   <div class="avatar">
        <img src={% static 'img/logo.png' %} center="icono">
    </div>
</div>
--> 
{% endblock %}
