<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href={% static '/CSS/admon-waiter.css' %}>

    <title>Registro de Empleados</title>
</head>
<body>
    <div class="body-admon">
        <div class="wrapper">

            <div class="sidebar">
                <div class ="perfil-admon">
                    <img class="avatar" src={% static 'img/logo.png' %} alt="icono">
                    <h3> BIENVENIDO ADMINISTRADOR</h3>
                    <p>  Sistema de ingreso</p>
                </div>
                <ul>
                    <li>
                        <a href="admon-waiter.html" >
                            <span class="icon"><i class="register waiter"></i></span>
                            <span class="item">EMPLEADOS</span>
                        </a>
                    </li>
                    <li>
                        <a href="admon-menu.html">
                            <span class="icon"><i class="register menu"></i></span>
                            <span class="item">MENU</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="formulario-de-registro-de-camareros">
            <title>Registro Camareros</title>
            <section class="form-register">
                <h4>NUEVO EMPLEADO</h4>
                <form action="#">
                    <select required class="controls" name="selector empleado">
                      <option value="" selected disabled >Seleccione tipo de empleado</option>
                      <option value="1">Cocinero-bebidas</option>
                      <option value="2">Cocinero-comida</option>
                      <option value="3">Mesero</option>                   
                      <option value="4">Cajero</option>
                    </select>
                    <div class="lado"><label class="etiqu">Nombre
                      <input class="controls" type="text" name="nombre"
                      id="nombre"  placeholder="1er nombre del empleado" required></label>     
                    </div>
                    <div style="margin-left: 15px;" class="lado"><label class="etiqu">Segundo nombre
                      <input class="controls" type="text" name="nombre2"
                      id="nombre2"  placeholder="2do nombre del empleado" ></label>     
                    </div>
                    <div class="lado"><label class="etiqu">Primer apellido
                      <input class="controls" type="text" name="apellido" id="apellido" placeholder="1er apellido del empleado" required></label>
                    </div>
                    <div style="margin-left: 15px;" class="lado"><label class="etiqu">Segundo apellido
                      <input class="controls" type="text" name="apellido2" id="apellido2" placeholder="2do apellido del empleado" required></label>
                    </div><label class="etiqu">Nombre de usuario
                    <div>
                      <input style="width: 48%;" class="controls" type="text" name="usuario" id="usuarios" placeholder="Usuario" required>
                    </div></label>
                    <div class="lado"><label class="etiqu">Clave
                      <input class="controls" type="text" name="clave" id="clave" placeholder="Clave" required></label>
                    </div>
                    <div style="margin-left: 15px;" class="lado"><label class="etiqu">Confirmar clave
                      <input class="controls" type="text" name="clave2" id="clave2" placeholder="Confirme clave" required></label>
                    </div> 
                    <div class="submiter">       
                        <input class="botons" type="submit" value="Registrar">
                    </div>
                </form>
            </section>

        </div>
        <div class="volveradmon">          
                <a href="admon.html">
                  <button>
                    <svg fill="black" height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
                    <span>Volver</span>
                  </button>
                </a> 
        </div>
    </div>
    
</body>
</html>
