<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href={% static '/CSS/admon-waiter.css' %}>
    <title>Document</title>
</head>
<body>
    <div class="body-admon">
        <div class="wrapper">

            <div class="sidebar">
                <div class ="perfil-admon">
                    <img class="avatar" src={% static 'img/logo.png' %} alt="icono">
                    <h3> BIENVENIDO ADMINISTRADOR</h3>
                    <p>  Sistema de ingreso</p>
                </div>
                <ul>
                    <li>
                        <a href="admon-waiter.html" >
                            <span class="icon"><i class="register waiter"></i></span>
                            <span class="item">EMPLEADOS</span>
                        </a>
                    </li>
                    <li>
                        <a href="admon-menu.html">
                            <span class="icon"><i class="register menu"></i></span>
                            <span class="item">MENU</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="formulario-de-registro-de-camareros">
            <title>Registro Camareros</title>
            <section class="form-register">
                <h4>NUEVO EMPLEADO</h4>
                <form action="#">
                    <select class="controls" name="selector empleado">
                        <option value="0" selected disabled required>Seleccione tipo de empleado</option>
                        <option value="1">Cocinero-bebidas</option>
                        <option value="2">Cocinero-comida</option>
                        <option value="3">Mesero</option>                   
                        <option value="4">Cajero</option>
                      </select>
                    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese nombre del empleado" required>                
                    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese apellido del empleado" required>
                    <input class="controls" type="text" name="usuario" id="usuarios" placeholder="Ingrese usuario" required>
                    <input class="controls" type="text" name="clave" id="claves" placeholder="Ingrese clave" required> 
                    <input class="controls" type="text" name="clave" id="claves" placeholder="Confirme clave" required>
                    <div class="submiter">
                        <input class="botons" type="submit" value="Registrar">
                    </div>
                </form>
            </section>

        </div>
        <div class="volveradmon">          
                <a href="admon.html">
                    <button class="botons">VOLVER</button>
                </a> 
        </div>
    </div>
    
</body>
</html>
