{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

<!-- 
    <header>
        
        <nav>
            <ul>
            <li><a href="#">Inicio</a></li>
            <li>{% if user.is_authenticated %}</li>
            <li><a href="{% url 'logout' %}>" >cerrar sesión </a></li>
            <li><a href="#"> @ {{user.username}} </a></li>
            <li>{% else %}</li>
            <li><a href="{% url 'login' %}> ">iniciar sesión </a></li>
            <li>{% endif %}</li>
         </ul>
        </nav> 
    </header>
-->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href={% static '/CSS/admon.css' %}>
<title>La Noutriure Deliciouse login in</title>
<body>


    <div class="container">
        <div class="row">
            <div class="col-12">
               {% block contenido %} {% endblock %}
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JavaScript Libraries -->
    
  </body>
</html>