<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La Noutriure Deliciouse login in</title>
{% load static %} <link rel="stylesheet" href={% static '/CSS/master.css' %}>
</head>
<body>
<div class="login-box"> 
  {% load static %} <img class="avatar" src={% static '/img/LOGO.png' %} alt="icono">
  <h1>INGRESE AQUI</h1>
  <form action="admon.html" >
    <div class="datos">
      <!-- USERNAME -->
      <label for="USUARIO">USUARIO</label>
      <input type="text" placeholder="nombre de usuario">
      <br>
      <br>
      <!-- PASSWORD -->
      <label for="CONTRASEÑA">CONTRASEÑA</label>
      <input type="password" placeholder="contraseña">
      <div class="submiter">
       <input type="submit" value="Log In">
      </div>
      <br><a href="admon.html">Olvidé la contraseña</a> 
    </div>
  </form>
</div>
</body>
</html>