{% extends "base.html" %}

{% block titulo %} Login {% endblock %}

{% block contenido %} 


<div class="login-box"> 
  {% load static %} <img class="avatar" src={% static '/img/LOGO.png' %} alt="icono">
  <h1>INGRESE AQUI</h1>
  <form action="admon.html" >
    <div class="datos">
    <!-- metodo de login para Django-->  
      <form id="form-login" method="post" action"">
      {% csrf_token %}
      <label for="USUARIO">USUARIO:</label>
      <div style= "width: 75%" ; margin: auto; id="username">
        {{form.username}}
      </div>
      <label for="CONTRASEÑA">CONTRASEÑA:</label>
      <div style= "width: 75%" ; margin: auto; id="password">
        {{form.password}}
      <button type="submit" class="btn btn succes">Login</button>
         </div>
      <br><a href="admon.html">Olvidé la contraseña</a> 
    </div>
  </form>
</div>

{% endblock %}
