<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href={% static '/CSS/base2.css' %}><!-- CSS del html basico-->    
    <link rel="stylesheet" href={% static '/CSS/mesas.css' %}>  <!-- CSS del html particular-->  
    <title>Mesero Mesas</title>
</head>
<body>
    
 <!-- 
    INICIO del codigo Html basico que va temporalmente en todas las páginas,
    luego se cambiará a un base.html para que Django lo aplique.
    -->    
    <nav class="navbar fixed-top navbar-expand" style="background-color: #4291c9;">
      <div class="container-fluid">
          <a class="navbar-brand" href="login.html"><img src={% static 'img/logo.png' %} alt="Logo" width="40" height="40" class="d-inline-block align-text-center">Tworden</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login.html">Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admon.html">Admon</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mesero-mesas.html">Mesero</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="cocinero-comandas-todas.html">Cocina</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html">Salir</a>
                </li>
            </ul>
            <span class="navbar-text">
              Variable_Usuario
            </span>
          </div>
        </div>
    </nav>

    <!-- 
    FIN del codigo Html basico
    -->

    <div class="container mt-5">
      <div class="row row-cols-3 mt-3 row-cols-md-5 g-3">

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">1</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">2</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">3</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">4</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">5</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">6</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">7</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">8</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">9</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">10</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">11</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">12</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">13</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">14</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>


        <div class="col">
          <div class="card border-none mb-3" style="max-width: 9rem; min-width: 9rem;"> 
            <a href="mesero-orden.html">
            <div class="card-img-overlay">
              <h5 class="card-title">15</h5>
            </div></a>
            <img src={% static 'img/icono_mesa.png' %} class="card-img" style="background-color: lightgreen;" alt="Mesa 1">
            <div class="card-footer border-white"><div class="iconfooter"><img  src={% static 'img/icono_ordenar.png' %} class="icono" alt="..."><img src={% static 'img/icono_comida.png' %} class="icono" alt="..."><img src={% static 'img/icono_bebida.png' %} class="icono" alt="..."></div></div>
          </div>          
        </div>

      </div>
    </div>

</body>
</html>