<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/admon-menu.css">
    <title>Platos</title>
</head>
<body>
    <div class="body-admon">
        <div class="wrapper">

            <div class="sidebar">
                <div class ="perfil-admon">
                    <img class="avatar" src="img/logo.png" alt="icono">
                    <h3> BIENVENIDO ADMINISTRADOR</h3>
                    <p>  Sistema de ingreso</p>
                </div>
                <ul>
                    <li>
                        <a href="ADMON-WAITER.html" >
                            <span class="icon"><i class="register waiter"></i></span>
                            <span class="item">EMPLEADOS</span>
                        </a>
                    </li>
                    <li>
                        <a href="ADMON-MENU.html">
                            <span class="icon"><i class="register menu"></i></span>
                            <span class="item">MENU</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="formulario de registro de camareros">
            <title>Registro Camareros</title>
            <section class="form-register">
                <h4>NUEVO PLATO</h4>
                <input class="controls" type="text" name="nombre del plato" id="nombre del plato" placeholder="Ingrese nombre del plato">
                <input class="controls" type="text" name="costo del plato" id="costo del plato" placeholder="Ingrese el costo del plato">
                <input class="controls" type="text" name="tipo de plato" id="tipo de plato" placeholder="Ingrese tipo de plato">
                <div class="submiter">
                    <input class="botons"type="submit" value="Registrar">
                </div>
            </section>

        </div>

    </div>
    
</body>
</html>