<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/admon-waiter.css">
    <title>Document</title>
</head>
<body>
    <div class="body-admon">
        <div class="wrapper">

            <div class="sidebar">
                <div class ="perfil-admon">
                    <img class="avatar" src="img/logo.png" alt="icono">
                    <h3> BIENVENIDO ADMINISTRADOR</h3>
                    <p>  Sistema de ingreso</p>
                </div>
                <ul>
                    <li>
                        <a href="ADMON-WAITER.html" >
                            <span class="icon"><i class="register waiter"></i></span>
                            <span class="item">EMPLEADOS</span>
                        </a>
                    </li>
                    <li>
                        <a href="ADMON-MENU.html">
                            <span class="icon"><i class="register menu"></i></span>
                            <span class="item">MENU</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div >
            
        </div>
        <div class="volveradmon">
            <li>
                <a href="ADMON.html">
                    <input class="botons" type="volver" value="VOLVER">
                </a>
            </li>
                
        </div>

    </div>
    
</body>
</html>