<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/admon-waiter.css">
    <title>Document</title>
</head>
<body>
    <div class="body-admon">
        <div class="wrapper">

            <div class="sidebar">
                <div class ="perfil-admon">
                    <img class="avatar" src="img/logo.png" alt="icono">
                    <h3> BIENVENIDO ADMINISTRADOR</h3>
                    <p>  Sistema de ingreso</p>
                </div>
                <ul>
                    <li>
                        <a href="ADMON-WAITER.html" >
                            <span class="icon"><i class="register waiter"></i></span>
                            <span class="item">Registro Camareros</span>
                        </a>
                    </li>
                    <li>
                        <a href="LOGIN.html">
                            <span class="icon"><i class="register menu"></i></span>
                            <span class="item">Registro Platos</span>
                        </a>
                    </li>
                    <li>
                        <a href="LOGIN.html">
                            <span class="icon"><i class="register table"></i></span>
                            <span class="item">Registro Mesas</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="formulario de registro de camareros">
            <title>Registro Camareros</title>
            <section class="form-register">
                <h4>NUEVO EMPLEADO</h4>
                <input class="controls" type="text" name="tipo de empleados" id="tipo de empleado" placeholder="Ingrese tipo de empleado">
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese nombre del empleado">                
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese apellido del empleado">
                <input class="controls" type="text" name="usuario" id="usuarios" placeholder="Ingrese usuario">
                <input class="controls" type="text" name="clave" id="claves" placeholder="Ingrese clave">
                <input class="controls" type="text" name="clave" id="claves" placeholder="Confirme clave">
                <div class="submiter">
                    <input class="botons"type="submit" value="Registrar">
                </div>
            </section>

        </div>

    </div>
    
</body>
</html>