{% extends "base2.html" %}
<!--{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La Noutriure Deliciouse login in</title>
{% load static %} <link rel="stylesheet" href={% static '/CSS/master.css' %}>
</head> 
<body>
  {% load crispy_forms_tags %}
  <div class="login-box">
  <img class="avatar" src={% static 'img/logo.png' %} alt="icono">
  <h1>REGISTRO DE USUARIO</h1>
  
    <div class="datos"> 
      <div class="col-12.col-md-6.offset-md-3">
              <form action="" method="post">
                  {% csrf_token %}
                  {{ form | crispy }}
                  <div class="submiter">
                    <input type="submit" value="Registar">
                   </div>
      </div>
    </div>
</div>  
-->

<title>
{% block title %} LOGIN {% endblock %}
</title>



{% block contenido %} {% load static %} 
<br><br><br><br><br><br>

<div class="tarjeta">
  <div class="titulo">Registro Usuario</div>
  <div class="cuerpo">
    <div class="col-12.col-md-6.offset-md-3">
      <form action="" method="post">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="submiter">
            <input type="submit" value="Registar">
           </div>
  
  </div>
  <div class="pie">
  <a href="#">Más información</a>
  </div>
  </div>

{% endblock %}
  